<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="name" name="email" value="<%= account.email %>" required>
      </div>
      <div class="form-group">
        <label for="given">given</label>
        <input type="text" class="form-control" id="breed" name="given" value="<%= account.given %>">
      </div>
      <div class="form-group">
        <label for="family">family</label>
        <input  type="text" class="form-control" id="age" name="family" value="<%= account.family %>" required>
      </div>
  
      <div class="form-group">
        <label for="pasword">pasword</label>
        <input type="text" class="form-control" id="age" name="pasword" value="<%= account.pasword %>" required>
      </div>
  
  
  
  
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>