<div class="container">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a class="navbar-brand" href="/">Home</a>
          </li>
          <li>
            <a href="/category">category</a>
          </li>
          <li>
            <a href="/order">Order</a>
          </li>
          <li>
            <a href="/product">Product</a>
          </li>
          <li>
            <a href="/orderLineItem">OrderLineItem</a>
          </li>
          <li>
            <a href="/account">Account</a>
          </li>
          <li>
            <a href="/transaction">transaction</a>
          </li>
          <li>
            <a href="/user">user</a>
          </li>

        </ul>
        <% include about.ejs %>


      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>

<style>
  .dropbtn {
    background-color: transparent;
    color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: black;
  }
</style>