<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="productKey">productKey</label>
        <input type="text" class="form-control" id="name" name="productKey" value="<%= product.productKey %>" required>
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="breed" name="description" value="<%= product.description %>">
      </div>
  
      <div class="form-group">
        <label for="unitPrice">unitPrice</label>
        <input type="text" class="form-control" id="age" name="unitPrice" value="<%= product.unitPrice %>" required>
      </div>
  
  
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  
  
  </div>